.ImageContainer {
  width: 250px;
  height: 250px;
}

.CanvasOverlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid black;
}

.Greeting {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: transparent;
  padding-top: 10px;
  -webkit-text-stroke: 2px black;
}

@media (max-width: 450px) {
  .Greeting {
    font-size: 2em;
  }
}
