.HomePage {
  background-color: #EE6055;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.Controls {
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.MainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.Greeting {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}

.NavItem {
  margin: auto;
  display: block;
}

.Control {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ButtonContainer {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.Button {
  background-color: #46237A;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 20px;
  margin: 10px;
  font-weight: bold;
}

@media (max-width: 330px) {
  .Button {
    font-size: .8em;
  }
}

@media (max-width: 500px) {
  .Button {
    padding: 10px;
  }
  
  .Row {
    height: 50%;
  }
}
