.Fireworks {
  background-color: white;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  position: relative;
}

.Canvas {
  position: absolute;
}

@media (max-width: 450px) {
  .Greeting {
    font-size: 2em;
  }
}
