.Project {

}

.Tagline {
  font-size: 1.05em;
  font-weight: bold;
  color: #16B75E;
}

.Company {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
}

.Link {
  color: #000000;
  text-decoration: none;
}

.Stack {
  /* text-align: center; */
}
