.Contact {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.ContactInfoBox {
  background-color: #ee6054;
  width: 80%;
  height: 80%;
  color: black;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 2px;
  z-index: 1;
}

.Info {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.Text {
  text-align: center;
  font-size: 2.5em;
  padding-top: 10px;
  color: white;
}

@media (max-width: 500px) {
  .Text {
    font-size: 1.5em;
  }
}
