.Ball {
  display: inline-block;
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  animation: move infinite;
  animation-fill-mode: both;
  overflow: hidden;
}

@keyframes move {
    from {
      transform: translate(0, 0);
    }
}
