.Mentors {
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  padding: 10px 0;
}

.Description {
  font-size: 2em;
  color: white;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: bold;
}
