.Work {
    margin: auto;
    height: auto;
    background-color: #EE6055;
}

.Header {
  height: 300px;
}

.LogoContainer {
  width: 200px;
  height: 200px;
  border-radius: 2px;
}

.Logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Description {
  font-size: 2em;
  color: white;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: bold;
}

.Projects {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.Project {
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 500px) {
  .Project {
    padding: 5px;
  }
}
